# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.spec

# Virtual environment
venv/
.venv/
env/

# PyCharm
.idea/

# VS Code
.vscode/

# Windows
Thumbs.db
*.pyc

# Project specific
*.log
